* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(83, 70, 55);
}

.dice_container {
    display: flex;
}

.dice_roll {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: aqua;
    cursor: pointer;
}

.dice {
    position: relative;
    height: 100px;
    width: 100px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    background-color: white;
}

.dice_dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50px;

    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));
}